
.App {
  text-align: center;
}

.main-wrapper {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
  background-color: blue;
  color: aliceblue;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 45px;
  border: 1px solid rgb(255, 255, 184);
  box-sizing: border-box;
}

.main-wrapper-centre {
  width: 100%;
  height: 100%;
  margin: auto;
  display: grid;
  grid-template-rows: repeat(6 1fr);
}

.item-row-wrapper {
  height: auto;
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 30% repeat(5, 1fr);
  justify-items: stretch;
}

.item-row-question-block{
  border: 1px solid rgb(255, 255, 184);
  cursor: pointer;
  display: grid;
  align-items: center;
  font-size: 2rem;
}

.block-hover:hover {
  background-color: rgb(87, 87, 255);
}

.count-info {
  cursor: pointer;
}

.popup-active {
  z-index: 1;
  background-color: rgb(63, 63, 179);
  color: white;
  display: grid;
  grid-template-rows: 9fr 2fr;
  width: 95%;
  height: 95%;
  position: fixed;
  top: 2%;
  left: 2%;
}

.question-block {
  border: 1px solid rgb(255, 255, 184);
  height: 100%;
  width: 100%;
  cursor: default;
  display: grid;
  grid-template-rows: 10fr 1fr 3fr;
  align-items: center;
  box-sizing: border-box;
}

.answer-block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.answer-block > div {
  border: 1px solid rgb(255, 255, 184);
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-one:hover{
  background-color: rgba(90, 179, 63, 0.445);
}
.false:hover{
  background-color: rgba(179, 63, 63, 0.445);
}
.team-two:hover{
  background-color: rgba(90, 179, 63, 0.445);
}

.save-btn {
  background-color: #FFFFFF;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 2% 20%;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.answer-btn {
  border: 1px solid #222222;
  border-radius: 8px;
  color: #222222;
  cursor: pointer;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 17px;
  font-weight: 600;
  line-height: 5px;
  margin: 0 auto;
  outline: none;
  padding: 1% 1%;
  width: 20%;

}
  
.save-btn:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}
  
.save-btn:active {
  background-color: #F7F7F7;
  border-color: #000000;
  transform: scale(.96);
}
  
.save-btn:disabled {
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}

.hidden {
  display: none;
}

.total-account {
  border-top: 1px solid rgb(255, 255, 184);
  width: 80%;
  margin: auto;
  margin-top: 25%;
}

.teamName {
  font-size: 19px;
  cursor: pointer;
}